{% extends "base.html" %}
{% block content %}
  <h1>Artist: {{ artist.artist_name }}</h1>
    <pre class=tab>
        Date of Birth:  {{ artist.date_of_birth }}  Date of Death:  {{ artist.date_of_death }}
    </pre>
    <p><strong>About Artist:</strong> {{ artist.summary }}</p>

  <!-- List of Albums by this Artist -->
  <h2>Albums</h2>
  <ul>
    {% for album in artist.album_set.all %}
      <li>
        <a href="{% url 'album_detail' album.id %}">{{ album.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
